<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Devices>
        <Device intro="升降台" name="Lift" role="Server" protocol="TCP"  timeout="10000">
            <Net>
                <IP>192.168.200.3</IP>
                <Port>4096</Port>
            </Net>
            <Driver>cn.rh.iot.driver.LiftDriver</Driver>
            <Topics>
                <Topic kind="in">Lift/Ctrl</Topic>
                <Topic kind="out">Lift/Info</Topic>
            </Topics>
        </Device>
        <Device intro="车载BMS" name="BMS" role="Server" protocol="TCP"  timeout="10000">
            <Net>
                <IP>192.168.200.4</IP>
                <Port>50023</Port>
            </Net>
            <Driver>cn.rh.iot.driver.BmsDriver</Driver>
            <Topics>
                <Topic kind="out">BMS/Info</Topic>
            </Topics>
        </Device>
        <Device intro="车载RTK" name="RTK" role="Server" protocol="TCP"  timeout="10000">
            <Net>
                <IP>192.168.200.5</IP>
                <Port>23</Port>
            </Net>
            <Driver>cn.rh.iot.driver.RTKDriver</Driver>
            <Topics>
                <Topic kind="out">RTK/Info</Topic>
            </Topics>
        </Device>
        <Device intro="气象站" name="Met" role="Server" protocol="TCP" askInterval="2000" timeout="10000">
            <Net>
                <IP>192.168.200.6</IP>
                <Port>502</Port>
            </Net>
            <Driver>cn.rh.iot.driver.MetDriver</Driver>
            <Topics>
                <Topic kind="out">Met/Info</Topic>
            </Topics>
        </Device>
    </Devices>
    <DriverFilePath>Driver</DriverFilePath>
    <Mqtt reconnectInterval="5" connectionTimeout="10" keepAliveInterval="8">
        <ServerURI>tcp://192.168.200.225:1883</ServerURI>
        <Username> </Username>
        <Password> </Password>
    </Mqtt>
    <NetChannel defaultTimeout="30000" reconnectInterval="5000" connectTimeout="1000"/>
</Config>